body{
    background-color: aliceblue;
    font-size: 30px;
    margin: 1em;
}
    p{
        font-family: Arial;
        font-size: 30px;
    }

    h1{
        font-family: Verdana;
        font-size: 50px;
        color: black;
        text-align: center;
    }

    h2{
        font-family: Verdana;
        font-size: 40px;
        color: black;
    }
    
    .cabecario {
        font-size: 30px;
        text-align: justify;
    }
    