body{
    background-color: aliceblue;
}
    p{
        font-family: Arial;
        font-size: 18px;
        color: aliceblue;
    }

    h1{
        font-family: Verdana;
        font-size: 18px;
        color: black;
    }

    h2{
        font-family: Verdana;
        font-size: 18px;
        color: black;
    }
    img{
        width: 50%;
        margin: auto;
        display: block;
    }

    .cabecario {
        font-size: 30px;
        text-align: justify;
    }
    